<% include ../partials/header %>

<div>

    <header class="jumbotron" >
        <div class='container mb-5'>
            <h2>Welcome to campgrounds!</h2>
            <p>View glorious campgrounds representing the great outdoors!</p>
            
            <p>
                <a class='btn btn-primary btn-lg ' href="/campgrounds/new">Add Campground</a>
            </p>
        </div>
        <hr class="mb-5">
        
        
        <div class="row text-center" id="campground-grid">
            <%  campgrounds.forEach(function(campground){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="card anim shadow">
                      <img class="card-img-top cstm-img-rounded" src="<%= campground.image%>" alt="<%= campground.name%>">
                      
                      <div class="card-body">
                        <p class="card-title"><%= campground.name%></p>
                        <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary btn-sm">More Info</a>
                      </div>
                      
                    </div>
                </div>
            <% }); %>
        </div>
        
        
    </header>

    
    <nav class="center" aria-label="...">
        <% if (pages && pages > 0) { %>
        <ul class="pagination text-center justify-content-center hazed">
            <% if (current == 1) { %>
                <li  class="disabled page-item"><a class="page-link">First</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
            <% } %>
     
            <% if (current == 1) { %>
                <li class="disabled page-item"><a class="page-link">«</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/campgrounds?pageCt=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
            <% } %>
     
            <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled page-item"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active page-item"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/campgrounds?pageCt=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled page-item"><a class="page-link">...</a></li>
                <% } %>
            <% } %>
     
            <% if (current == pages) { %>
                <li class="disabled page-item"><a class="page-link">»</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/campgrounds?pageCt=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
            <% } %>
     
            <% if (current == pages) { %>
                <li class="disabled page-item"><a class="page-link">Last</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/campgrounds?pageCt=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
            <% } %>
        </ul>
        <% } %>
    </nav>
    
</div> 

<% include ../partials/footer%>