<% include ../partials/header %>

<div>
    <header class="jumbotron jumbotron-fluid" >
        <div class="row mb-3">
            <div class="col-md-2 pr-2">
                <!--<div class="list-group mb-4">-->
                <!--    <li class='list-group-item active'>Site Moderator</li>-->
                <!--    <li class='list-group-item'>Info</li>-->
                <!--    <li class='list-group-item'>Info</li>-->
                <!--</div>-->
                <div id="map"></div>
            
            </div>
            <div class="col-md-10 pl-2">
                <div>
                    <img class="img-fluid cstm-img-rounded" src="<%= campground.image%>">
                </div>
            </div>
        </div>
            
        <div class="caption">
            <!--<h4 class="pull-right">$9.99/night</h4>-->
            <span class="float-right"><em>posted by: <a href="/users/<%= campground.author.id%>"><%= campground.author.username%></a></em></span>
            <h4><a><%= campground.name%></a></h4>
            <p class="mb-0"><%= campground.description%></p>
                <!-- if there is not a currently logged in user, don't evaluate if statement -->
                <% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)){%>
                    <div class="mt-2">
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id%>/edit">Edit!</a>
                        <form class="inline-elem " action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                <% } %>
        </div>
        <br>
            
    <!--comments-->
    <div class="card">
        
        <div class="m-2">
            <span class="titleText ml-2">Comments:</span>
            
            <a class="btn btn-primary btn-sm float-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
            Add Comment</a>
            <!-- <a class="btn btn-sm btn-primary float-right mr-2" href="/campgrounds/<%=campground._id%>/comments/new">Add Comment</a> -->
            
            <div class="collapse" id="collapseComment">
                <hr class="mt-2 mb-2">
                <div class="toggleForm ml-2 pl-2 pb-2">
                    <% if(!currentUser) { %>
                  <!--If the user is not logged in, direct him to the login page-->
                  <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                    <% } %>
                    <% if(currentUser) { %>
                  <!--If the user is logged in, show the new comment form-->
                  <h5>Write your comment</h5>
                  <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                    <div class="form-group">
                      <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary btn-sm float-right">Comment</button>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                    <% } %>
                </div>
             </div>
            
        </div>
        <div class="row">
        <% campground.comments.forEach(function(comment){ %>
          <div class="lessContainer anim">
                <div class='col-12'>
                    <p><strong><%= comment.author.username%></strong>:</p>
                
                <!--<span class="pull-right">-->
                <!--    10 days ago-->
                <!--</span>-->
                    <span><%= comment.text%></span>
                
                <% if(currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)){%>
                    <div class="float-right">
                        
                        <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                        Edit</a>
                        
                        <!--<a class="btn btn-sm btn-warning" -->
                        <!--    href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit">Edit</a>-->
                        <form class="inline-elem" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                            <input class="btn btn-sm btn-danger" type='submit' value='Delete'>
                        </form>
                        
                    </div>
                    <div class="clearfix"></div>
                    <!--Edit comment form-->
                    <div class="collapse" id="collapseEdit<%= comment._id %>">
                      <hr class="mt-3 mb-2">
                      <div class="toggleForm ml-2 pl-2 pb-2">
                        <h4>Edit your comment </span></h4>
                        <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                          <div class="form-group">
                            <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" name="comment[text]" form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                          </div>
                          <div class="form-group">
                            <button class="btn btn-warning btn-sm float-right">Edit comment</span></button>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div>
                    
                <% } %>
                
                
                
                </div>
            </div>

            <div class="clearfix"></div>
          
        <% });%>
        
    </div>
    </header>
</div>


<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9BWGeZND5D675kgolh2t0L8l-UoYHHLQ&callback=initMap"></script>


<% include ../partials/footer %>