<% include ../partials/header %>

<div>
    <header class="jumbotron jumbotron-fluid" >
        <div class="row mb-5">
            <div class="col-md-2">
                <!--<div class="list-group mb-4">-->
                <!--    <li class='list-group-item active'>Site Moderator</li>-->
                <!--    <li class='list-group-item'>Info</li>-->
                <!--    <li class='list-group-item'>Info</li>-->
                <!--</div>-->
                <div id="map"></div>
            
            </div>
            <div class="col-md-10">
                <div class="">
                    <img class="img-fluid cstm-img-rounded" src="<%= campground.image%>">
                </div>
            </div>
        </div>
            
        <div class="caption">
            <!--<h4 class="pull-right">$9.99/night</h4>-->
            <span class="float-right"><em>posted by: <a href="/users/<%= campground.author.id%>"><%= campground.author.username%></a></em></span>
            <h4><a><%= campground.name%></a></h4>
            <p><%= campground.description%></p>
                <!-- if there is not a currently logged in user, don't evaluate if statement -->
                <% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)){%>
                    <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id%>/edit">Edit!</a>
                    <form class="inline-elem " action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                <% } %>
        </div>
        <br>
            
    
    <!--comments-->
    <div class="card">
        
        <div class="float-right m-2">
            <span class="titleText">Comments:</span>
            <a class="btn btn-sm btn-primary float-right" href="/campgrounds/<%=campground._id%>/comments/new">Add Comment</a>
        </div>
        <div class="row">
        <% campground.comments.forEach(function(comment){ %>
        <div class="lessContainer">
                <div class='col-12'>
                    <p><strong><%= comment.author.username%></strong>:</p>
                
                <!--<span class="pull-right">-->
                <!--    10 days ago-->
                <!--</span>-->
                    <span><%= comment.text%></span>
                
                <% if(currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)){%>
                    <div class="float-right">
                        <a class="btn btn-sm btn-warning rightSpacing" 
                            href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit">Edit</a>
                        <form class="inline-elem" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                            <input class="btn btn-sm btn-danger" type='submit' value='Delete'>
                        </form>
                    </div>
                <% } %>
                
                
                
                </div>
            </div>

            <div class="clearfix"></div>
          
        <% });%>
        
    </div>
    </header>
</div>


<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9BWGeZND5D675kgolh2t0L8l-UoYHHLQ&callback=initMap"></script>


<% include ../partials/footer %>