<% include ../partials/header %>

<% console.log("Here:"); %><% console.log(user.avatar); %>

<% let imageVar = (user.avatar !== undefined)? user.avatar: "https://www.utsystem.edu/sites/default/files/offices/academic-affairs/Missing%20Photo.png"; %>
<% let userName; userName = (user.firstName !== undefined)? user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1).toLowerCase() + " " + user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1).toLowerCase(): ""; %>
<% if(userName.length < 2){ userName = user.username;}%>

<div>
<div class="card mb-4 p-2">
    <div class="row">
    <div class="col-md-3">
        <h5><%=userName%></h5>
        <div >
            <img class="userAvatar img-thumbnail" src=<%=imageVar%> alt="userAvatar">
            <!--<div class="caption"><a href="mailto:<%=user.email %>"><%=user.email %></a></div>-->
        </div>
    </div>
    <div class="col-md-8">
            <p class="mt-5">Where can I get some?</p>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
                passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All that!
            </p>
            <p>
                Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true 
                generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence 
                structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from 
                repetition, injected humour, or non-characteristic words etc.
            </p>
        
        </div>
    </div>
</div>
    <div class="jumbotron">
        <h5 class="m-0">User Posts:</h5>
        <hr>
        <div class="row">
    
            
            
            <% campgrounds.forEach(function(campground) {%>
             <div class="col-md-4">
                <!--<ul class="mb-2" style="list-style-type: none; padding: 0;">-->
                <!--<li><div class="card" style="border: none; background-color: #d3d9ff; padding: 10px;">-->
                    <h5 class="userParagraph">
                        <a href="/campgrounds/<%=campground.id%>"><%=campground.name%></a>
                    </h5>
                    <img class="img-thumbnail" style="border-radius: 10px;" src="<%=campground.image%>">
                
                <!--</div></li>-->
                <!--</ul>-->
                
            </div>
            <% }) %>
        </div>
    </div>

</div>

<% include ../partials/footer %>